*{
    background-color: black;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
.cardHolder{
    margin-top: 50px;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: -90px;
}
.card{
    background: none;
    background-color: aliceblue;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    font-size: 30px;
    /* padding: 20px; */
    color: black;
    animation-name: card;
    animation-duration: 2s;
    overflow: hidden;
    z-index: 1;
}
.body{
    background: none;
    display: block;
    width: 90%;
    
}
.image{
    background: none;
}
.cardImage{
    background: none;
    margin: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    opacity: 1;
}
a{
    background: none;
    text-decoration: none;
}
.cardContent{
    background: none;
    font-size: 20px;
    padding: 4px;
}
#colorGreen{
    color: #5AFE73;
    background: none;
}
.heading{
    animation-name: heading;
    animation-duration: 2s;
    background: none;
    position : relative;
    top: -90px;
}
@keyframes card{
    0%{
        transform: translateY(-1100px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes heading{
    0%{
        transform: translateX(-1100px);
    }
    100%{
        transform: translateX(0px);
    }
}
