*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../public/backgroundImage2.jpg);
    background-repeat : no-repeat;
    background-size: cover;
}
/* body{
    background: url(../public/backgroundImage2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.main{
    background: none;
}




