*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#root{
    /* overflow: hidden; */
    background-image: url(../public/backgroundImage2.jpg);
    background-repeat : no-repeat;
    background-size: cover;
    height: 100vh;
}
.main{
    background: none;
}
@media only screen and (max-width: 666px){
    #root{
        height: 125vh;
    }
}




