*{
    background: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

.body{
    color: white;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
    background: none;
    
}

.bodyLeft{
    width: 50%;
    background: none;
}

.bodyLeft p{
    font-size: 1.25rem;
    padding-top: 8px;
    background: none;
    
}

#colorGreen{
    color: #5AFE73;
    background: none;
}

.bodyRight{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}

@keyframes bodyLeft{
    0%{
        transform: translateX(-1100px);
    }
    100%{
        transform: translateX(0px);
    }
}

.bodyLeft{
    animation-name: bodyLeft;
    animation-duration: 2s;
    background: none;
}
@media only screen and (max-width : 1450px) {
    .body{
        font-size: 2.5rem !important;
    }
    .bodyLeft{
        width: 100% !important;
    }
    p{
        font-size: 1.25rem  !important;
    }
}
