:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff ;
    --color-primary-variant: rgba(77, 181, 255, 0.4) ;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
#contact{
    background: none;
}

h2{
    background: none;
    position: absolute;
    left: 40%;
    top: 15%;
    color: white;
    background-color: #1f1f38;
    font-weight: 900;
    font-size: 35px;
    text-decoration: underline;
 }
h4{
   background: none;
   background: var(--color-bg-variant);

}
h5{
   background: none;
   background: var(--color-bg-variant);
}
#contact .container{
    background: none;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    position: absolute;
    top: 22%;
    left: 20%;
    align-items: center;
}


.container {
    background: none;
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background: none;
    position: relative;
    left: 20%;
    background: none;
}

.contact_option{
    background: none;
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    
}

.contact_option:hover{
    background: transparent;
    border-color: var(--color-pimary-variant);
    
}

.contact_option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    
}

.container contact_container form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-color: white;
    
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px soild var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    background: none;
    color: #fff;
    background-color: rgb(5, 5, 33);
}

.btn{
    height: 50px;
    width: 120px;
    border-radius: 50px;
    position: relative;
    left: 30px;
    background-color: #1f1f38;
}
.btn:hover{
    background: var(--color-bg-variant);
}

/* // Media Queries (Medium Devices (Tablets)) // */

@media screen and (max-width: 1024px) {
    .container .contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    } 

} 

/* // Media Queries (Small Devices (Mobile phones)) // */

 @media screen and (max-width: 600px) {
    .page{
       /* width: 0;
       height: 0;
       font-size: 0px;
       position: absolute; */
       display: none;
       
    }

    .container .contact_container{
        width: 58%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12%;
    }

    .contact_options{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 1.2rem;
        left: 16%;
    }

} 

form{
    background : none;
}
