*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: aliceblue;
}
#contact{
    background: none;
    color: white;
    height: 550px;
    width: 1100px;
    background-color: rgb(6, 4, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 14%;
    top: 21%;
}

